<mat-toolbar>
    <span>The Movie Database</span>
    <span class="example-spacer"></span>
    <button (click)="goToLogInPage()" *ngIf="!isLoggedIn" mat-button style="color: #81151e;background: lightgray;"
        title="Login">
        Login
    </button>
    <button *ngIf="isLoggedIn" mat-button style="color:#ffffff;background:#c21111; margin-right: 10px;" title="Logout"
        (click)="logOut()">
        Logout
    </button>
    <label>{{userName}}</label>
</mat-toolbar>
<mat-tab-group style="background: #ffffff; width:100%" [(selectedIndex)]="selectedTabIndex">
    <mat-tab label="Top Movies List">
        <div class="center p-24 pb-100">
            <app-top-movies-list></app-top-movies-list>
        </div>
    </mat-tab>
    <mat-tab label="Search Movies">
        <div class="center p-24 pb-100">
            <app-search-movies></app-search-movies>
        </div>
    </mat-tab>
</mat-tab-group>