/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

.success-snackbar {
    background-color: #4caf50 !important;
    color: white !important;
    .mat-button-wrapper {
        color: black !important;
    }
}

.warning-snackbar {
    background-color: #ff9800 !important;
    color: white !important;
    .mat-button-wrapper {
        color: black !important;
    }
}

.info-snackbar {
    background-color: #2196f3 !important;
    color: white !important;
    .mat-button-wrapper {
        color: black !important;
    }
}

.error-snackbar {
    background-color:#81151e !important;
    color: white !important;
    .mat-button-wrapper {
        color: black !important;
    }
}