<main-toolbar [isLoggedIn]="isLoggedIn" [userName]="userName" (loginEvent)="checkLoginStatus()" [isFromDetail]="true"></main-toolbar>
<div style="margin-left: 25px;margin-top: 30px;">
    <div fxLayout="row" fxLayoutAlign="start start">

        <div fxFlex.lt-md="50%" fxFlex.gt-sm="15%">
            <img width="200" height="300" [src]="posterPath" />
        </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="start start">
        <div fxFlex>
            <mat-label style="font-size: 50px;"><b>{{title}}</b></mat-label>
        </div>
        <div fxFlex>
            <mat-label>{{genres}}</mat-label>
        </div>
        <div fxFlex>
            <mat-label><b>Rating: </b>{{rating}}</mat-label>
        </div>
        <div fxFlex style="margin-top: 20px;">
            <mat-label><b>Cast:</b> {{names}}</mat-label>
        </div>
    </div>
    <p style="font-size: 20px;">
        <b>Image Gallery:</b>
    </p>
    <mat-grid-list cols="6" rowHeight="8:10">
        <ng-container>
            <mat-grid-tile *ngFor="let item of imageUrls">
                <img style="margin-top: 30px;" width="200" height="300" [src]="item" />
            </mat-grid-tile>
        </ng-container>
    </mat-grid-list>
    <app-movie-comments [isLoggedIn]="isLoggedIn" [registeredUser]="userName" (commentLoginEvent)="onCommentLoginEvent($event)">
    </app-movie-comments>
</div>