<div style="margin-bottom: 25px; margin-top: 25px;" fxLayout="row" fxLayoutAlign="start start">
    <div style="font-weight: 100;" fxFlex>
        Search by movie name and/or genre
    </div>
</div>
<div fxLayout="row" fxLayoutAlign="start start">
    <mat-form-field style="margin-right: 25px;" appearance="outline" fxFlex="25%">
        <mat-label>Search with movie name</mat-label>
        <input (input)="refreshList()" [(ngModel)]="searchKeyWord" name="Search" matInput type="text">
    </mat-form-field>
    <mat-form-field style="margin-right: 25px;" appearance="outline" fxFlex>
        <mat-label>Search by genre</mat-label>
        <mat-select (selectionChange)="setGenreId($event)">
            <mat-option [value]="0"></mat-option>
            <mat-option *ngFor="let genre of genreList" [value]="genre.id">
                {{genre.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div *ngIf="moviesList; else loading">
    <mat-table #table [dataSource]="moviesList.results">

        <ng-container matColumnDef="PosterImage">
            <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm></mat-header-cell>
            <mat-cell *matCellDef="let results" fxHide fxShow.gt-sm> <img width="50" height="75"
                    [src]="results.poster_path" />
            </mat-cell>
        </ng-container>


        <ng-container matColumnDef="Title">
            <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Title</mat-header-cell>
            <mat-cell *matCellDef="let results" fxHide fxShow.gt-sm> {{results.title}}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Rating">
            <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Rating</mat-header-cell>
            <mat-cell *matCellDef="let results" fxHide fxShow.gt-sm> {{results.vote_average}}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="ReleaseDate">
            <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Release Date</mat-header-cell>
            <mat-cell *matCellDef="let results" fxHide fxShow.gt-sm> {{results.release_date}}
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row (click)="goToMovieDetails(results.id)" *matRowDef="let results; columns: displayedColumns;" style="border-color: white;margin-top: 10px;">
        </mat-row>
    </mat-table>

    <mat-card *ngIf="moviesList.total_results < 1">
        <div style="text-align: center;">
            <b>No Data Found</b>
        </div>
    </mat-card>
</div>

<ng-template #loading>
    <div *ngIf="isSearched" style="
            display: flex;
            justify-content: center;
            align-items: center;
            background: #ffffff;
        ">
        <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
    </div>
</ng-template>

<div *ngIf="moviesList">
    <mat-paginator *ngIf="moviesList.total_results > 0" [length]="moviesList.total_results" [pageSizeOptions]="[20]"
        [showFirstLastButtons]="true" [pageIndex]="pageIndex" [pageSize]="pageSize" (page)="handlePage($event)">
    </mat-paginator>
</div>